/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* font-family: 'Spartan', sans-serif; */
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

h1,
h2,
h3 {
  /* font-family: 'Spartan', sans-serif; */
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 2.6rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

.wrapper {
  width: 32rem;
  margin: 0 auto;
}

/* Header & Nav */
header {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

header nav ul li:not(:last-child) {
  margin-right: 3.2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.8rem;
}

/* Intro */
.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.4rem 0;
  text-align: center;
  margin-top: 6rem;
}

.intro img {
  width: 100%;
  box-shadow: none;
}

.intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro div h1 {
  margin: 0;
  text-transform: uppercase;
  color: #92b070;
}

.intro div p {
  line-height: 2.8rem;
  margin: 0;
  font-size: 2.2rem;
}

.intro div p a {
  font-weight: 300;
}

/* Portfolio */
.portfolio {
  margin-top: 8rem;
  grid-gap: 0;
}

.portfolio h1 {
  text-align: center;
  margin: 0 0 4.8rem 0;
  color: #37647a;
}

.portfolio-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.4rem;
  margin-top: 8rem;
}

.project-img {
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-repeat: none;
  background-position: top;
}
.project__img__one {
  background-image: url(../images/coffeeroasters-screenshot.png);
}
.project__img__two {
  background-image: url(../images/hand-me-downs.png);
}
.project__img__three {
  background-image: url(../images/gsn.png);
}
.project__img__mybox {
  background-image: url(../images/mybox.png);
}

.project__img__maker {
  background-image: url(../images/maker.png);
}

.project h2 {
  text-align: center;
  margin-top: 1.6rem;
}

.project-description {
  margin-top: 1.6rem;
}

.project-tech {
  margin-top: 0.8rem;
}

.project-tech span {
  font-weight: bold;
}

.project div {
  margin-top: 1.6rem;
  display: flex;
}

.project div a {
  height: 4.8rem;
  border: none;
  background: #92b070;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 0.8rem;
  padding: 0 1.6rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About */
.about {
  margin-top: 8rem;
}

.about h1 {
  text-align: center;
  margin-bottom: 4.8rem;
  color: #37647a;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0 2.4rem;
}

.about-content div {
  margin-top: 1.6rem;
  order: 2;
}

.about-content div p {
  margin: 0 0 2.4rem 0;
}

.about-content img {
  width: 100%;
  order: 1;
}

/* Contact */
.contact {
  margin-top: 8rem;
  grid-gap: 4.8rem 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'title title'
    'form form'
    'map map';
}

.contact h1 {
  grid-area: title;
  text-align: center;
  color: #37647a;
}

.contact form {
  display: flex;
  flex-direction: column;
  grid-area: form;
}

.contact form label {
  margin-bottom: 0.8rem;
}

.contact form input {
  height: 4rem;
  margin-bottom: 1.6rem;
  outline: none;
  border: 0.4px solid lightgray;
  padding-left: 1.6rem;
}

.contact form textarea {
  height: 10rem;
  resize: none;
  outline: none;
  border: 0.4px solid lightgray;
  padding: 1.6rem 0 0 1.6rem;
}

.contact form button {
  height: 4rem;
  border: none;
  background-color: #92b070;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin-top: 3.2rem;
}

.contact div {
  grid-area: map;
}

.contact div iframe {
  margin-top: 1.6rem;
  width: 100%;
  height: 100%;
  border: none;
}

.contact div ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact div ul li:not(:last-child) {
  margin-right: 1.6rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
  margin-bottom: 4.8rem;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.8rem;
}

footer ul li:not(:last-child) {
  margin-right: 1.6rem;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}

@media (min-width: 576px) {
  .wrapper {
    width: 42rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 54rem;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 72rem;
  }

  header {
    justify-content: flex-end;
    margin-top: 8rem;
  }

  .intro {
    margin-top: 12rem;
    grid-template-columns: 40% 60%;
    grid-column-gap: 2.4rem;
  }

  .intro img {
    box-shadow: -16px -16px #8dbdbf;
  }

  .intro div {
    justify-content: center;
  }

  .intro div h1 {
    text-transform: uppercase;
    text-align: left;
  }

  .intro div p {
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: left;
  }

  .portfolio {
    margin-top: 18rem;
  }

  .portfolio-projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
    margin-top: 8rem;
  }

  .project img {
    height: 20rem;
  }

  .project div {
    margin-top: 1.6rem;
    display: flex;
  }

  .about {
    margin-top: 18rem;
  }

  .about h1 {
    margin-bottom: 8rem;
  }

  .about-content {
    grid-template-columns: 60% 40%;
    grid-gap: 0 2.4rem;
  }

  .about-content div p {
    margin: 0 0 2.4rem 0;
    order: 1;
  }

  .about-content img {
    box-shadow: 16px -16px #b6864b;
    order: 2;
  }

  .about {
    margin-top: 18rem;
  }

  .about h1 {
    text-align: center;
    margin-bottom: 8rem;
    color: #37647a;
  }

  .about-content {
    grid-template-columns: 60% 40%;
    grid-gap: 0 2.4rem;
  }

  .about-content div p {
    margin: 0 0 2.4rem 0;
    order: 1;
  }

  .about-content img {
    width: 100%;
    box-shadow: 16px -16px #b6864b;
    order: 2;
  }

  /* Contact */
  .contact {
    margin-top: 18rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title title'
      'form map'
      'form map';
    grid-gap: 8rem 2.4rem;
  }

  .contact div iframe {
    margin: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18rem;
    margin-bottom: 4.8rem;
  }

  footer ul {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 114rem;
    margin: 0 auto;
  }

  .project img {
    height: 40rem;
  }
}
